<div>
  <!-- Tick -->
  <div
    style="
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      width: 3rem;
      border-radius: 9999px;
      background-color: #def7ec;
    "
  >
    <svg class="h-6 w-6 text-green-600" stroke="currentColor" fill="none" viewBox="0 0 24 24" style="height: 1.5rem; width: 1.5rem;">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
    </svg>

    <img
      src="https://lh3.googleusercontent.com/proxy/1YzovD0VnExzDDlOKys-XPbrqgDSwYAkoCnR6KJtK9ylsQn7-U21DicmU2DZ51l2tMrWGTMcWvUS3rv1fwz2eAu3QW6Cc44"
      style="height: 1.2rem; width: 1.2rem; margin: auto;"
    />
  </div>

  <!-- Title -->
  <h3 style="text-align: center; padding-top: 1%;">
    New Submission on <%- form.name %>
  </h3>
</div>
